<?xml version="1.0" encoding="UTF-8"?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.demo.dao.OrderDao">
  <resultMap type="com.demo.projo.Order" id="baseResultMap">
    <id column="orderId" property="orderId" jdbcType="INTEGER"/>
    <result column="user" property="user" jdbcType="CHAR"/>
    <result column="money" property="money" jdbcType="DOUBLE"/>
    <result column="orderType" property="orderType" jdbcType="CHAR"/>
    <result column="orderAddr" property="orderAddr" jdbcType="CHAR"/>
    <result column="orderTime" property="orderTime" jdbcType="DATE"/>
    <result column="state" property="state" jdbcType="CHAR"/>
  </resultMap>
  <!-- 通过订单id查找用户 -->
  <select id="selectOrderById" parameterType="int" resultMap="baseResultMap">
    select * from order_table where orderId=#{orderId}
  </select>
  <!-- 在order表中插入数据 -->
  <insert id="insertOrder" parameterType="com.demo.projo.Order">
    insert into order_table(user,money,orderType,orderAddr,orderTime,state) values(#{user},#{money},
    #{orderType},#{orderAddr},now(),#{state})
  </insert>
  <!-- 在order表中删除数据 -->
  <delete id="deleteOrderById" parameterType="int">
    delete from order_table where orderId=#{orderId}
  </delete>
  <!-- 在order表中更新数据 -->
  <update id="updateOrder" parameterType="com.demo.projo.Order">
    update order_table set user=#{user},money=#{money},orderType=#{orderType},orderAddr=#{orderAddr},
    orderTime=now(),state=#{state} where orderId=#{orderId}
  </update>
  <!-- 查找订单表中的所有用户 -->
  <select id="selectAllOrder"  resultMap="baseResultMap">
    select * from order_table
  </select>
   <!-- 查找用户表中的所有用户名 -->
  <select id="getAllUserName"  resultType="String">
    select USER_NAME from user_table
  </select>
</mapper>